#join-choose-name {
    width: 20rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#join-username {
    width: 13rem;
    height: 3rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 20px;
}

#join-submit {
    width: 7rem;
    height: 3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 20px;
}

#players-and-roles {
    width: 18rem;
    margin: auto;
    margin-bottom: 5%;
}

#list-header {
    text-align: center;
    margin-top: 10%;
    color: #c10000;
}

td {
    padding-left: 1rem;
    padding-top: 1rem;
}

.available-role {
    text-align: center;
    font-size: 20;
    background: #c10000;
    border-radius: 1rem;
    width: 7rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #dedede;
    font-size: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.role-card {
    margin: auto;
    width: 18rem;
}

.role-card-side {
    width: 18rem;
    height: 10rem;
    margin-bottom: 5rem;
    line-height: 10rem;
    background: #c10000;
    color: #dedede;
    font-size: 20px;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid #dedede;
    box-shadow: 10px 10px 5px #888888;
}

.role-card-reveal {
    line-height: 5rem;
}
