* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
 }
 
 body {
  background-color: #eeeeee;
 }

 button {
  background-color: #c10000;
  box-shadow: 10px 10px 5px #888888;
  border: none;
  color: #eeeeee;
 }

 input {
     text-align: center;
     border: none;
     box-shadow: 10px 10px 5px #888888;
 }

 .page-header {
  text-align: center;
  color: #c10000;
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 5%;
 }

 .main-menu-button {
    height: 4rem;
    width: 20rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
    background-color: #c10000;
    border: none;
    border-radius: 1rem;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    box-shadow: 10px 10px 5px #888888;
  }

  .text {
    text-align: center;
    color: #c10000;
  }

  .card {
    background-color: #c10000;
    border: none;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 1rem;
    color: #dedede;
  }

  .card-left {
    background-color: #c10000;
    border: none;
    box-shadow: 10px 10px 5px #888888;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: #dedede;
  }

  .dead {
    background: gray !important; 
  }
 